.comecarBotao {
    color: black;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
}

.grade-cores {
    display: grid;
    grid-template-columns: repeat(3, 100px); /* 3 colunas */
    gap: 10px;
    margin: 20px 0;
}

.cores, .encontrar {
    width: 100px;
    height: 100px;
    border: 2px solid gray;
    border-radius: 5px;
}

.cores:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.2s;
}
